[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
ipykernel = "*"
setuptools = "*"
pyprojroot = "*"
pathlib = "*"
pandas = "*"
numpy = "*"
requests = "*"
pipdeptree = "*"
beautifulsoup4 = "*"
tqdm = "*"
minet = "*"
clean-text = "*"

[dev-packages]
ipykernel = "*"

[requires]
python_version = "*"
